html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#loginText, .loginText, .notyet {
	text-align: center;
}

#BgV {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: fixed;
	z-index: -1;
	min-width: 100%;
	min-height: 100%;

}


@media (min-aspect-ratio: 16/9) {
	#BgV {
		min-width: 100%;
		min-height: auto;
		object-fit: cover;
	}
}

#main, .rec, .categ {
	color: #63666F;
}

.categoriesPage {
	color: darkgrey;
}






